
<header>
    <b class="icon_home i_bef" id="js_home"></b>
    <a href="tel:4000086666" class="icon_phone i_bef __hreftel__" id="js_phone"></a>
    <h1>值机</h1><i id="js_return" class="returnico"></i>
</header>
<div class="pd10" id="checkin_show_box"></div>

<div id="checkin_info_box" class="pd10">

</div>
<div class="pd10">
	<p class="fnt-14 clr-666 fnt-c mt30">您可以提前预约座位</p>
	<span id="select_seat" class="flight-btn-org mt20">预约选座</span>
</div>
<!--值机信息template模块-->
<script type="text/template" id="checkin_info_tpl">
    <p class="fnt-18 clr-666 fnt-c mt30"><%=resmsg%></p>
</script>
