<div class="p_add_wrap" id="p_select_wrap">

</div>
<script type="text/template" id="p_select_tpl">
    <header>
        <h1>选择登机人</h1><i id="js_return" class="returnico"></i>
		<% if(+pageType){  %> 
			<div class="rightblue">完成</div>
		<% } %> 
    </header>
    <section class="cont_pd_wrap intrip">
        <ul class="cfbox paddNone">
            <li class="light paddNum" id="js_addPassenger"><span class="add_ico sfr"></span><strong>新增登机人</strong></li>
            
            <% if(typeof passengers != "undefined"){ %>
              <% for(var i=0;i<passengers.length;i++){ %>
				
                <li class="light js_choose" data-id="<%= passengers[i].inforId %>">
                    <div class="editBox js_editBox"><span class="i edit_ico sfr"></span></div>
                    <div class="boa_info js_boa_info <%= +pageType ? "" : "s5_boa_info" %> ">
						<% if(+pageType){  %> 
							<label class="sel_ico  <%= passengers[i].selected && (passengers[i].selected==1 || passengers[i].selected==2) ? "mulselect_yes" : "mulselect_no"%>"></label>
						<% } %> 
                         <p><%=passengers[i].cname %> <%=passengers[i].ename %><br />
                         
                         <em><%= ( passengers[i].defaIdCard ? passengers[i].defaIdCard.name :"") %> <%= ( passengers[i].defaIdCard ? passengers[i].defaIdCard.no :"") %></em></p>
                    </div>
                </li>
              <% } %>
            <% } %>
        </ul>
        
    </section>  
</script>