<header class="flight-header">
        <h1>值机</h1>
        <i class="returnico" id="js_return"></i> 
    </header>
 <div class="flight-header-blank"></div>
<div class="pd15">
    <div class="flight-zjsbq">
        <h2>
            值机三部曲</h2>
        <div class="flight-zjsbq-icons">
            <i>&nbsp;</i><i>&nbsp;</i><i>&nbsp;</i>
        </div>
        <div class="flight-zjsbq-steps">
            <span>选择登机人</span> <span>填写信息</span> <span>选择座位</span><i>&nbsp;</i><i>&nbsp;</i>
        </div>
        <ul class="flight-zjsbq-tips">
            <li>提前预约选座,下单后即可预约选座</li>
            <li>覆盖国内热门航线</li>
            <li>不是在携程购买的机票,也支持办理值机哦</li>
        </ul>
        <div class="flight-zjsbq-btns">
             <span id="NoLogin">非会员办理</span> <span id="Login" class="member">会员登录办理更方便</span>
        </div>
    </div>
</div>
<!-- S 底部固定菜单 -->
<div>
    <div class="flight-zjfooter-blank">
    </div>
    <div class="flight-footer">
        <ul>
            <li class="ft1" id="flightSearch">机票查询</li>
            <li class="ft2" id="flightSchedule">航班动态</li>
            <li class="ft3 current" id="checkin">值机</li>
        </ul>
    </div>
</div>
<!-- E 底部固定菜单 -->