<div class="zqincity">
    <style type="text/css">
        .zqincity .cfbox li{ position:relative; }
    </style>
    <header>
        <h1>市内自取</h1><i id="js_return" class="returnico"></i>
        <div class="rightblue" id="finished">完成</div>
    </header>
    <section class="cont_pd_wrap intrip delivy">
        <ul class="cfbox mb10">
            <li>
                <hgroup>
                       <h2>市内自取</h2>
                       <h3>请您在市内指定地点直接领取</h3>     
                </hgroup>
            </li>
            <li class="arr_r f2" id="self-pickup-addr">
                <span class="needs">自取地址</span>
                <div class="mail_addr"><p class="maili" id="address"></p></div> 
            </li>
            <li class="arr_r f2" id="picker-date">
                <span class="needs">取票日期</span>
                <div class="mail_addr" id="inCityDate">
                </div> 
            </li>
            <li>
                <span class="room_num"><i class="deduct-time">&#45;</i><span class="hours"></span><i class="plus-time">&#43;</i></span>
                <span class="needs"><b class="orderWrite_proname">取票时间</b></span>
            </li>
        </ul>
        
    </section>   
</div>